<form>
  <mat-form-field appearance="fill" fxFlexFill>
    <mat-label>Project</mat-label>
    <input type="text"
           placeholder="Name or ID"
           aria-label="Please enter project name or ID"
           matInput
           [formControl]="txtInput"
           [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayText" (optionSelected)="onProjectSelected($event)">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{option.name}} <span style="font-size: 0.8em;">- {{option.namespace.full_path}} (ID: {{option.id}})</span>
      </mat-option>
      <mat-option *ngIf="filteredOptionsMissing==1" disabled>
        (Another entry available - please input more characters)
      </mat-option>
      <mat-option *ngIf="filteredOptionsMissing>1" disabled>
        ({{filteredOptionsMissing}} further entries available - please input more characters)
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
