<mat-card>
  <mat-card-title>Import Issues</mat-card-title>
  <mat-card-subtitle>... and create labels, if not yet existing.</mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="40">
      <div fxFlex="30%">
        You can select a set of labels and issues
        <a *ngIf="project" href="javascript:void(0);" title="Import issues from the selected project" (click)="importDataFromProject()">from the project selected upon</a>
        <span *ngIf="!project">from the project selected upon</span>
        or drop a JSON file to the drop area.
        <app-file-drag-drop accept="text/json" (fileDropped)="importDataFromFile($event)"></app-file-drag-drop>
      </div>
      <div fxFlex="70%" class="exchange-model-view">
        <app-issue-exchange-model-viewer [model]="data"></app-issue-exchange-model-viewer>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <app-import-issues-button [project]="project" [data]="data"></app-import-issues-button>
  </mat-card-actions>
</mat-card>
