<button mat-flat-button style="font-size: 0.6em; font-weight: normal;"
        [matMenuTriggerFor]="menu"
        [matBadge]="lastAccessSuccessful==undefined ? '?' : (lastAccessSuccessful ? '✔' : '⚠')"
        [matBadgeColor]="lastAccessSuccessful==undefined ? primary : (lastAccessSuccessful ? accent : warn)"
        title="{{config.host}}"
        aria-label="Gitlab Connection Settings Menu">
  {{(config.host.length > 25) ? (config.host | slice:0:23) + '..' : config.host}}
  <mat-icon style="height: auto;">more_vert</mat-icon>
</button>

<mat-menu xPosition="before" #menu="matMenu">
  <button mat-menu-item (click)="openSettings()">
    <mat-icon>settings</mat-icon>
    Settings...
  </button>
  <button mat-menu-item (click)="testConnection(config).subscribe()">
    <mat-icon>settings_ethernet</mat-icon>
    Test Connection
  </button>
  <a mat-menu-item [href]="config.host" target="_blank">
    <mat-icon>public</mat-icon>
    Open Gitlab Web UI
  </a>
</mat-menu>
