<button mat-flat-button style="font-size: 0.6em; font-weight: normal;" [matMenuTriggerFor]="menu" aria-label="Gitlab-Verbindungsmenü">
  <mat-icon style="height: auto;">more_vert</mat-icon>
  {{config.host}}
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Einstellungen...</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings_ethernet</mat-icon>
    <span>Verbindung testen</span>
  </button>
  <button mat-menu-item (click)="openSite(config.host)">
    <mat-icon>public</mat-icon>
    <span>Web UI öffnen</span>
  </button>
</mat-menu>
