<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <a mat-button [mat-menu-trigger-for]="menu" aria-label="Menu button">
          <mat-icon>menu</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let entry of navigation">
            <button mat-menu-item [routerLink]="entry.routerLink">
              <mat-icon *ngIf="entry.icon" class="icon">{{entry.icon}}</mat-icon>
              {{entry.label}}
            </button>
          </ng-container>
        </mat-menu>
      </div>
      <div>
        {{title}}
        <app-gitlab-connection-status></app-gitlab-connection-status>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li *ngFor="let entry of navigation">
            <a [routerLink]="entry.routerLink">
              <mat-icon *ngIf="entry.icon" class="icon">{{entry.icon}}</mat-icon>
              <span class="label">{{entry.label}}</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

