<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <a mat-button [mat-menu-trigger-for]="menu" aria-label="Menu button">
          <mat-icon>menu</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let entry of navigation">
            <button mat-menu-item [routerLink]="entry.route.path">
              <mat-icon *ngIf="entry.icon" class="icon">{{entry.icon}}</mat-icon>
              {{entry.label}}
            </button>
          </ng-container>
        </mat-menu>
      </div>
      <span>{{title}}</span>
      <app-gitlab-connection-status style="margin-left: 1em;"></app-gitlab-connection-status>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <button *ngFor="let entry of navigation"
                mat-icon-button title="{{entry.label}}"
                (click)="this.router.navigateByUrl(entry.route.path)">
          <mat-icon *ngIf="entry.icon" class="icon">{{entry.icon}}</mat-icon>
          <span *ngIf="!entry.icon" class="label">{{entry.label}}</span>
        </button>
      </div>
    </mat-toolbar>
    <main>
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

