mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}


.navigation-items {
  list-style: none;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

main {
  padding: 1em;
}

